<a href="https://colab.research.google.com/github/zago2006/data_science/blob/main/EngAtributos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [ ]:
dataset = pd.read_csv('credit_simple.csv', sep=';')
dataset.shape

(1000, 8)

In [ ]:
dataset.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,CLASSE
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv,bom
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv,ruim
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação,bom
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento,bom
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo,ruim

In [ ]:
y = dataset['CLASSE']
X = dataset.iloc[:,:-1]

In [ ]:
X

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO
0,1169.0,4,67,nenhum,01/01/2019,masculino solteiro,radio/tv
1,5951.0,2,22,nenhum,01/01/2020,fem div/cas,radio/tv
2,2096.0,3,49,nenhum,02/01/2020,masculino solteiro,educação
3,7882.0,4,45,nenhum,02/01/2019,masculino solteiro,mobilia/equipamento
4,4870.0,4,53,nenhum,03/01/2018,masculino solteiro,carro novo
...,...,...,...,...,...,...,...
995,1736.0,4,31,nenhum,29/06/2018,fem div/cas,mobilia/equipamento
996,3857.0,4,40,nenhum,30/06/2018,masculino div/sep,carro usado
997,804.0,4,38,nenhum,03/07/2018,masculino solteiro,radio/tv
998,1845.0,4,23,nenhum,04/07/2019,masculino solteiro,radio/tv
999,4576.0,4,27,nenhum,05/07/2018,masculino solteiro,carro usado

In [ ]:
X.isnull().sum()

SALDO_ATUAL         7
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         8
PROPOSITO           0
dtype: int64

In [ ]:
mediana = X['SALDO_ATUAL'].median()
mediana

2323.0

In [ ]:
X['SALDO_ATUAL'].fillna(mediana, inplace=True)
X.isnull().sum()

<ipython-input-15-51ab1cc66d9c>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['SALDO_ATUAL'].fillna(mediana, inplace=True)

SALDO_ATUAL         0
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         8
PROPOSITO           0
dtype: int64

In [ ]:
agrupado = X.groupby(['ESTADOCIVIL']).size()
agrupado

ESTADOCIVIL
fem div/cas               308
masculino casado/viuvo     92
masculino div/sep          50
masculino solteiro        542
dtype: int64

In [ ]:
X['ESTADOCIVIL'].fillna('masculino solteiro' , inplace=True)
X.isnull().sum()

<ipython-input-17-d3a9245886a7>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  X['ESTADOCIVIL'].fillna('masculino solteiro' , inplace=True)

SALDO_ATUAL         0
RESIDENCIADESDE     0
IDADE               0
OUTROSPLANOSPGTO    0
DATA                0
ESTADOCIVIL         0
PROPOSITO           0
dtype: int64

In [ ]:
desv = X['SALDO_ATUAL'].std()
desv

685936688.9820064

In [ ]:
X.loc[X['SALDO_ATUAL']>=desv*2, 'SALDO_ATUAL']

127    2.541111e+09
160    2.154441e+10
Name: SALDO_ATUAL, dtype: float64

In [ ]:
mediana = X['SALDO_ATUAL'].median()
mediana

2323.0

In [ ]:
X.loc[X['SALDO_ATUAL']>=desv*2, 'SALDO_ATUAL'] = mediana
X.loc[X['SALDO_ATUAL']>=desv*2]

Empty DataFrame
Columns: [SALDO_ATUAL, RESIDENCIADESDE, IDADE, OUTROSPLANOSPGTO, DATA, ESTADOCIVIL, PROPOSITO]
Index: []

In [ ]:
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
Eletrodomésticos        12
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  12
qualificação             9
radio/tv               280
dtype: int64

In [ ]:
outros_categories = ['Eletrodomésticos', 'qualificação', 'Outros']
X.loc[X['PROPOSITO'].isin(outros_categories), 'PROPOSITO'] = 'outros'
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  33
radio/tv               280
dtype: int64

In [ ]:
X.loc[X['PROPOSITO']=='Eletrodomésticos', 'PROPOSITO'] = 'outros'
X.loc[X['PROPOSITO']=='qualificação', 'PROPOSITO'] = 'outros'
agrupado = X.groupby(['PROPOSITO']).size()
agrupado

PROPOSITO
carro novo             234
carro usado            103
educação                50
mobilia/equipamento    181
negócios                97
obras                   22
outros                  33
radio/tv               280
dtype: int64

In [ ]:
X['DATA']

0      01/01/2019
1      01/01/2020
2      02/01/2020
3      02/01/2019
4      03/01/2018
          ...
995    29/06/2018
996    30/06/2018
997    03/07/2018
998    04/07/2019
999    05/07/2018
Name: DATA, Length: 1000, dtype: object

In [ ]:
X['DATA'] = pd.to_datetime(X['DATA'], format='%d/%m/%Y')
X['DATA']

0     2019-01-01
1     2020-01-01
2     2020-01-02
3     2019-01-02
4     2018-01-03
         ...
995   2018-06-29
996   2018-06-30
997   2018-07-03
998   2019-07-04
999   2018-07-05
Name: DATA, Length: 1000, dtype: datetime64[ns]

In [ ]:
X['ANO'] = X['DATA'].dt.year
X['MES'] = X['DATA'].dt.month
X['DIA'] = X['DATA'].dt.day_name()
X['DIA']

0        Tuesday
1      Wednesday
2       Thursday
3      Wednesday
4      Wednesday
         ...
995       Friday
996     Saturday
997      Tuesday
998     Thursday
999     Thursday
Name: DIA, Length: 1000, dtype: object

In [ ]:
X['ESTADOCIVIL'].unique()

array(['masculino solteiro', 'fem div/cas', 'masculino div/sep',
       'masculino casado/viuvo'], dtype=object)

In [ ]:
X['PROPOSITO'].unique()

array(['radio/tv', 'educação', 'mobilia/equipamento', 'carro novo',
       'carro usado', 'negócios', 'outros', 'obras'], dtype=object)

In [ ]:
X['DIA'].unique()

array(['Tuesday', 'Wednesday', 'Thursday', 'Saturday', 'Sunday', 'Monday',
       'Friday'], dtype=object)

In [ ]:
# LABEL ENCODER
labelencoder1 = LabelEncoder()
X['ESTADOCIVIL'] = labelencoder1.fit_transform(X['ESTADOCIVIL'])
X['PROPOSITO'] = labelencoder1.fit_transform(X['PROPOSITO'])
X['DIA'] = labelencoder1.fit_transform(X['DIA'])

X.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,DIA
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,Tuesday,5
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,Wednesday,6
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,Thursday,4
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,Wednesday,6
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,Wednesday,6

In [ ]:
outros = X['OUTROSPLANOSPGTO'].unique()
outros

array(['nenhum', 'banco', 'stores'], dtype=object)

In [ ]:
#ONE HOT ENCODING

z = pd.get_dummies(X['OUTROSPLANOSPGTO'], prefix = 'OUTROS')
z

     OUTROS_banco  OUTROS_nenhum  OUTROS_stores
0           False           True          False
1           False           True          False
2           False           True          False
3           False           True          False
4           False           True          False
..            ...            ...            ...
995         False           True          False
996         False           True          False
997         False           True          False
998         False           True          False
999         False           True          False

[1000 rows x 3 columns]

In [ ]:
X

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,DIA
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,Tuesday,5
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,Wednesday,6
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,Thursday,4
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,Wednesday,6
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,Wednesday,6
...,...,...,...,...,...,...,...,...,...,...,...
995,1736.0,4,31,nenhum,2018-06-29,0,3,2018,6,Friday,0
996,3857.0,4,40,nenhum,2018-06-30,2,1,2018,6,Saturday,2
997,804.0,4,38,nenhum,2018-07-03,3,7,2018,7,Tuesday,5
998,1845.0,4,23,nenhum,2019-07-04,3,7,2019,7,Thursday,4
999,4576.0,4,27,nenhum,2018-07-05,3,1,2018,7,Thursday,4

In [ ]:
sc = StandardScaler()
m = sc.fit_transform(X.iloc[:,0:3])
m

array([[-0.74551643,  1.04698668,  1.6392759 ],
       [ 0.95774038, -0.76597727, -0.74024139],
       [-0.41533679,  0.14050471,  0.68746898],
       ...,
       [-0.87552244,  1.04698668,  0.1058092 ],
       [-0.50473818,  1.04698668, -0.68736323],
       [ 0.46799171,  1.04698668, -0.47585058]])

In [ ]:
#JUNTAR O x, O z E O m
X = pd.concat([X, z,pd.DataFrame(m,columns=['SALDO_ATUAL_N', 'RESIDENCIADESEDE_N', 'IDADE_N'])], axis=1)
X.head()

,SALDO_ATUAL,RESIDENCIADESDE,IDADE,OUTROSPLANOSPGTO,DATA,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,...,OUTROS_stores,SALDO_ATUAL_N,RESIDENCIADESEDE_N,IDADE_N,OUTROS_banco,OUTROS_nenhum,OUTROS_stores,SALDO_ATUAL_N,RESIDENCIADESEDE_N,IDADE_N
0,1169.0,4,67,nenhum,2019-01-01,3,7,2019,1,Tuesday,...,False,-0.745516,1.046987,1.639276,False,True,False,-0.745516,1.046987,1.639276
1,5951.0,2,22,nenhum,2020-01-01,0,7,2020,1,Wednesday,...,False,0.957740,-0.765977,-0.740241,False,True,False,0.957740,-0.765977,-0.740241
2,2096.0,3,49,nenhum,2020-01-02,3,2,2020,1,Thursday,...,False,-0.415337,0.140505,0.687469,False,True,False,-0.415337,0.140505,0.687469
3,7882.0,4,45,nenhum,2019-01-02,3,3,2019,1,Wednesday,...,False,1.645526,1.046987,0.475956,False,True,False,1.645526,1.046987,0.475956
4,4870.0,4,53,nenhum,2018-01-03,3,0,2018,1,Wednesday,...,False,0.572709,1.046987,0.898982,False,True,False,0.572709,1.046987,0.898982

In [ ]:
#EXCLUIR COLUNAS INDESEJADAS
X.drop(columns=['RESIDENCIADESDE', 'IDADE', 'OUTROSPLANOSPGTO', 'DATA', 'OUTROS_banco'], inplace=True, errors='ignore')
X

,ESTADOCIVIL,PROPOSITO,ANO,MES,DIASEMANA,DIA,OUTROS_nenhum,OUTROS_stores,OUTROS_nenhum,OUTROS_stores
0,3,7,2019,1,Tuesday,5,True,False,True,False
1,0,7,2020,1,Wednesday,6,True,False,True,False
2,3,2,2020,1,Thursday,4,True,False,True,False
3,3,3,2019,1,Wednesday,6,True,False,True,False
4,3,0,2018,1,Wednesday,6,True,False,True,False
...,...,...,...,...,...,...,...,...,...,...
995,0,3,2018,6,Friday,0,True,False,True,False
996,2,1,2018,6,Saturday,2,True,False,True,False
997,3,7,2018,7,Tuesday,5,True,False,True,False
998,3,7,2019,7,Thursday,4,True,False,True,False
999,3,1,2018,7,Thursday,4,True,False,True,False